*{
   text-align: center;
}
#table2{
    margin-left: 60px;
}
tr td:last-child{
    background-color: violet;
}
tr td:nth-child(17){
    background-color: blue;
}
tr td:first-child{
    background-color: yellow;
}
tr td:nth-child(2){
    background-color: orange;
}
tr td:nth-child(3){
    background-color: aqua;
}
tr td:nth-child(4){
    background-color: aqua;
}
tr td:nth-child(5){
    background-color: aqua;
}
tr td:nth-child(6){
    background-color: aqua;
}
tr td:nth-child(7){
    background-color: aqua;
}
tr td:nth-child(8){
    background-color: aqua;
}
tr td:nth-child(9){
    background-color: aqua;
}
tr td:nth-child(10){
    background-color: aqua;
}
tr td:nth-child(11){
    background-color: aqua;
}
tr td:nth-child(12){
    background-color: aqua;
}
#red{
    background: red;
}
#green{
    background: green;
}

td{
    width: 20px;
    height: 20px;
}
